body{
    background-color: #60a9ff;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
html{
    font-family: 'Open Sance', sans-serif;
    box-sizing: border-box;
}
.pricing-table{
    background-color: white;
    border-radius: 10px;
    padding : 15px 25px;
    max-width: 960px;
    width : 100%; 
    display : flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #e1f1ff;
}
.pricing-plan{
    border-bottom: 1px solid #e1f1ff;
}
.pricing-plan:last-child{
    border-bottom: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .pricing-img{
      margin-bottom: 25px;
      width:100%;
      max-width:100%;
  }
  .pricing-header{
      color:#888;
      font-weight:600;
      letter-spacing: 1px;
  }
  .pricing-features {
      margin : 50px 0 25px;
      color:#016ff9;
  }
  .pricing-features-item {
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 15px;
      line-height:1.5;
      padding :15px 0;
      border-top:1px solid #e1f1ff;
  }
  .pricing-features-item:last-child{
    border-bottom:1px solid #e1f1ff;
  }
  .pricing-price{
      color:#016ff9;
      display:block;
      font-size:32px;
      font-weight:700;
  }
      .pricing-button{
          border:1px solid #9dd1ff; 
          border-radius: 10px;
          color : #348efe;
          display :inline-block;
          padding :15px 35px;
          text-decoration:none;
          margin :25px 0;
   }
  .pricing-button:hover, .pricing-button:focus {
     background-color: #e1f1ff;
  }
  .pricing-button.is-featured {
      background-color : #2f9dfd;
      color : white;
  }
  .pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
    background-color : #89c5fa;
    color : white;
}
@media(min-width:900px){
    .pricing-table{
        flex-direction: row;
    }
    .pricing-plan{
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding:25px 50px;
    }
    .pricing-plan:last-child{
        border-right : none;
    }
}